body {
  background-color: rgb(218,244,200);
  font-size: 20px;
  font-family:"Nunito", sans-serif;
}
header {
  float: left;
  width: 100%;
  background-color: black;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  position: relative;
  left: 50%;
}
header nav ul li {
  float: left;
  position: relative;
  right: 50%;
}
header nav ul li a {
  padding: 10px 25px;
	display: block;
	text-decoration: none;
	color: #ccc;
}
header nav ul li a:hover {
  background-color: #ccc;
	color: black;
}
h1 {
  text-align: center;
  font-size: 50px;
}
#game h2 {
  font-size: 30px;
}
strong {
  font-weight: 700;
}